.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.quote_container {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#ericka_hart {
    background-image: url("../img/ericka1.jpg");
}

#angela_davis {
    background-image: url("../img/angela1.jpg");
}

#audre_lorde {
    background-image: url("../img/audre1.jpg");
}

#cherrie_moraga {
    background-image: url("../img/cherrie.jpg");
}

#janet_mock {
    background-image: url("../img/janet2.jpg");
}

#michelle_alexander {
    background-image: url("../img/michelle2.jpg");
}

#carmen_perez {
    background-image: url("../img/carmen1.jpeg");
}

#winona_laduke {
    background-image: url("../img/winona1.JPG");
}

#roxane_gay {
    background-image: url("../img/roxane3.jpg");
}

#ava_duvernay {
    background-image: url("../img/ava4.jpg");
}